<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doject szukaj</title>
    {% load static %}           <!--  zaladowanie stylow z katalogu static  -->
    <link rel="stylesheet" type="text/css" href="{% static 'Doject/styles.css' %}" />           <!--  Dodanie sciezki do korzystania ze stylow css  -->
</head>
<body>
    <h1>Wyszukaj produkty</h1>
    <form method="get">
        {{ filter.form.as_p }}
        <p><button type="submit">Szukaj</button></p>
    </form>
    {% if request.GET and filter.qs %}
    {% for product in filter.qs %}
    <p>{{ product.name }}</p>
    {% endfor %}
    {% elif filter.form.is_bound %}
    <p>Brak takiego produktu.</p>
    {% endif %}
</body>
</html>
